#drawing-surface {
  height: 360px;
  width: 480px;
  outline: 1px dashed black;
  position: relative;
  z-index: 1;
}

.track {
  background: gray;
  border-radius: 50%;
  height: 3px;
  position: absolute;
  width: 3px;
}

.corner {
  background: red;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}
